html,body,.container{
  min-height: 100vh;
}
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(../fonts/material-design-icons/font/MaterialIcons-Regular.ttf) format('truetype');
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
}

.material-icons-smaller {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  display: inline;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  vertical-align: -15%;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
}

.halfspacing{
  width: 100%;
  height: 1.5rem;
}

.stationTitle{
  padding: 10px;
  padding-left:24px;
  padding-right:24px;
  border-radius:0 0 2px 2px
}
.noBottomMargin{
  margin-bottom: 0px!important;
}
.verticalContainer{
  position: relative;
}
.verticalMiddle{
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}
.noMargin{
  margin:0px!important;
}
.fullWidth{
  width: 100%;
}

.tripContainer{
  margin:0px;
  padding: 3px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius:0 0 2px 2px;
  overflow: auto;
  border-bottom: 1px solid rgba(0,0,0,0.1);
}
.noOverflow{
  overflow: hidden;
}
.overflowHorizontalScroll{
  overflow-x: scroll;
}

.tripIcon{
  background-color: grey;
  
}


.tripDestination{
  padding-left: 0.85rem!important;
}
.onTime{
  color: rgb(54, 150, 23)!important;
  padding-right: 3px;
}
.desktopPadding{
  height: 100%;
  padding-left: 15px;
}
.footerRow{
  /* position: absolute;
  bottom:0px; */
  width: 100%;
  font-size: 10px;
  text-align: center;
}
.footerRow a{
  color: grey;
}
.delayed{
  color:rgb(143, 1, 1);
}
.delayedText{
  color: rgb(143, 1, 1);
}
.delayIcon{
  margin-right: -7px;
}

.bus{
 background-color: #005E79;
 color: white;
 overflow: hidden;
  border-radius: 20px;
  padding:2px;
  padding-left: 8px;
  padding-right: 8px;
  margin: 0px auto;
}

.faehre{
  background-color: #00A5DF;
  color: white;
  overflow: hidden;
  border-radius: 20px;
  padding:2px;
  padding-left: 8px;
  padding-right: 8px;
  margin: 0px auto;
}
.sbahn{
  background-color: #009551;
  color: white;
  overflow: hidden;
  border-radius: 20px;
  padding:2px;
  padding-left: 8px;
  padding-right: 8px;
  margin: 0px auto;
  
}
.schwebebahn{
  background-color: #95C11F;
  color: white;
  padding:2px;
  padding-left: 8px;
  padding-right: 8px;
}
.strassenbahn{
  background-color: #DD0B2F;
  color:white;
  padding:2px;
  padding-left: 8px;
  padding-right: 8px;
}
.zug{
  background-color: #00A15E;
  color:white;
  overflow: hidden;
  border-radius: 5px;
  padding:2px;
  padding-left: 8px;
  padding-right: 8px;
  margin: 0px auto;
}
.taxi{
  background-color: #FEC500;
  color:black;
  padding:2px;
  padding-left: 8px;
  padding-right: 8px;
}