html,body,.container{
  min-height: 100vh;
}
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(../fonts/material-design-icons/font/MaterialIcons-Regular.ttf) format('truetype');
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
}

.material-icons-smaller {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  display: inline;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  vertical-align: -15%;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
}

.halfspacing{
  width: 100%;
  height: 1.5rem;
}
.spacing{
  width: 100%;
  height: 3rem;
}

.stationTitle{
  padding: 10px;
  padding-left:24px;
  padding-right:24px;
  border-radius:0 0 2px 2px
}
.noBottomMargin{
  margin-bottom: 0px!important;
}
.verticalContainer{
  position: relative;
}
.verticalMiddle{
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}
.noMargin{
  margin:0px!important;
}
.fullWidth{
  width: 100%;
}

.tripContainer{
  margin:0px;
  padding: 3px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius:0 0 2px 2px;
  overflow: auto;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  min-height: 65px;
}
.noOverflow{
  overflow: hidden;
}
.overflowHorizontalScroll{
  overflow-x: scroll;
}

.tripIcon{
  background-color: grey;
  
}


.tripDestination{
  padding-left: 0.85rem!important;
}
.onTime{
  color: rgb(54, 150, 23)!important;
  padding-right: 3px;
}
.desktopPadding{
  height: 100%;
  padding-left: 15px;
}
.footerRow{
  /* position: absolute;
  bottom:0px; */
  width: 100%;
  font-size: 10px;
  text-align: center;
}
.footerRow a{
  color: grey;
}
.delayed{
  color:rgb(143, 1, 1);
}
.delayedText{
  color: rgb(143, 1, 1);
}
.delayIcon{
  margin-right: -7px;
}

.bus{
 background-color: #005E79;
 color: white;
 overflow: hidden;
  border-radius: 20px;
  padding:2px;
  padding-left: 8px;
  padding-right: 8px;
  margin: 0px auto;
}

.faehre{
  background-color: #00A5DF;
  color: white;
  overflow: hidden;
  border-radius: 20px;
  padding:2px;
  padding-left: 8px;
  padding-right: 8px;
  margin: 0px auto;
}
.sbahn{
  background-color: #009551;
  color: white;
  overflow: hidden;
  border-radius: 20px;
  padding:2px;
  padding-left: 8px;
  padding-right: 8px;
  margin: 0px auto;
  
}
.schwebebahn{
  background-color: #95C11F;
  color: white;
  padding:2px;
  padding-left: 3px;
  padding-right: 3px;
  font-size: 55%;
}
.strassenbahn{
  background-color: #DD0B2F;
  color:white;
  padding:2px;
  padding-left: 8px;
  padding-right: 8px;
}
.zug{
  background-color: #00A15E;
  color:white;
  overflow: hidden;
  border-radius: 5px;
  padding:2px;
  padding-left: 8px;
  padding-right: 8px;
  margin: 0px auto;
}
.taxi{
  background-color: #FEC500;
  color:black;
  padding:2px;
  padding-left: 8px;
  padding-right: 8px;
}
.centerText{
  text-align: center;
}
.spinning{
  -webkit-animation-name: spin;
  -webkit-animation-duration: 2000ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: spin;
  -moz-animation-duration: 2000ms;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: spin;
  -ms-animation-duration: 2000ms;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
  
  animation-name: spin;
  animation-duration: 2000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@-ms-keyframes spin {
  from { -ms-transform: rotate(0deg); }
  to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes spin {
  from { -moz-transform: rotate(0deg); }
  to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(360deg);
  }
}

.refreshButton{
  padding-left: 5px!important;
  padding-right: 5px!important;
  -webkit-transition: background 1s ease-out;  
    -moz-transition: background 1s ease-out;  
    -o-transition: background 1s ease-out;  
    transition: background 1s ease-out;  
}
.dsgvo{
    word-wrap: break-word;      /* IE 5.5-7 */
    white-space: -moz-pre-wrap; /* Firefox 1.0-2.0 */
    white-space: pre-wrap;      /* current browsers */
}
.dsgvo p{
  margin:0px!important;
}
.switch label input[type="checkbox"]:checked + .lever::after{
  
  background-color: #f57c00!important;
}
.switch label input[type="checkbox"]:checked + .lever{
  background-color: #ffa000!important;
}
summary{
  margin: 7px;
  padding:12px;
}
.fixedMenu{
  position: fixed;
  top: 0px;
  z-index: 990;
}
.invisible{
  opacity: 0;
}
.forkBanner{
  position: absolute;
  right:0px;
}

#refreshSpinner{
  margin-right: 5px!important;
}
.sidenav-trigger{
  display: block!important;
}

.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out
}

@keyframes octocat-wave {

  0%,
  100% {
    transform: rotate(0)
  }

  20%,
  60% {
    transform: rotate(-25deg)
  }

  40%,
  80% {
    transform: rotate(10deg)
  }
}

@media (max-width:500px) {
  .github-corner:hover .octo-arm {
    animation: none
  }

  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out
  }
}




/* Dark Mode */

@media (prefers-color-scheme: dark) {
  body{
    background-color: #212121;
  }
  .octo-body{
    fill: #212121;
  }
  .octo-arm{
    fill: #212121;
  }
  .tripContainer{
    background-color: #424242;
    color:white;
  }
  .delayed{
    color:rgb(232, 62, 62);
  }
  .delayedText{
    color:rgb(232, 62, 62);
  }
  #boxcontainer > div > .card{
    background-color: #424242;
  }
  .sidenav{
    background-color: #424242!important;
    color:white!important;
  }
  .sidenav li a,.sidenav li a i.material-icons{
    color:white!important;
    text-decoration: none;
  }
  .sidenav li::marker{
    color:rgba(0,0,0,0)!important;
  }
  .modal,.modal-footer{
    background-color: #424242!important;
    color:white!important;
  }
  .modal-footer a{
    color:white!important;
  }
}

